/src/packages/EntityFramework.6.1.1
src/Gumshoe Maps.v12.suo
src/Gumshoe Maps/obj/Debug/Gumshoe_Maps.Details.resources
src/Gumshoe Maps/obj/Release/DesignTimeResolveAssemblyReferences.cache
src/Gumshoe Maps/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/Gumshoe Maps/obj/Release/Gumshoe Maps.csproj.FileListAbsolute.txt
src/Gumshoe Maps/obj/Release/Gumshoe Maps.csproj.GenerateResource.Cache
src/Gumshoe Maps/obj/Release/Gumshoe Maps.csprojResolveAssemblyReference.cache
src/Gumshoe Maps/obj/Release/Gumshoe Maps.pdb
src/Gumshoe Maps/obj/Release/Gumshoe_Maps.Details.resources
src/Gumshoe Maps/obj/Release/Gumshoe_Maps.Main.resources
src/Gumshoe Maps/obj/Release/Gumshoe_Maps.Properties.Resources.resources
src/Gumshoe Maps/obj/Release/Gumshoe_Maps.Settings.resources
src/Gumshoe Maps/obj/Release/Gumshoe_Maps.TitleBar.resources
src/packages/MySql.Data.6.9.6/CHANGES
src/packages/MySql.Data.6.9.6/content/app.config.transform
src/packages/MySql.Data.6.9.6/content/web.config.transform
src/packages/MySql.Data.6.9.6/lib/net20/MySql.Data.dll
src/packages/MySql.Data.6.9.6/lib/net20-cf/MySql.Data.CF.dll
src/packages/MySql.Data.6.9.6/lib/net40/MySql.Data.dll
src/packages/MySql.Data.6.9.6/lib/net45/MySql.Data.dll
src/packages/MySql.Data.6.9.6/MySql.Data.6.9.6.nupkg
src/packages/MySql.Data.6.9.6/Readme.txt
